<style>
    .__top{
        width:100%;
        margin:.5rem 0;
        padding:.5rem 10%;
        background-color:red;
    }
</style>

<p class="__top">
    Chung Trịnh | chungtrinj@gmail.com | 0978611889
</p>